xml-resources/web-service-references/ServicioAbmAula/wsdl/localhost_8080/ServiciosTotai/ServicioAbmAula.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Negocio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Negocio/" name="ServicioAbmAula">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/ServiciosTotai/ServicioAbmAula?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://Negocio/" schemaLocation="http://localhost:8080/ServiciosTotai/ServicioAbmAula?xsd=2"/>
</xsd:schema>
</types>
<message name="addAula">
<part name="parameters" element="tns:addAula"/>
</message>
<message name="addAulaResponse">
<part name="parameters" element="tns:addAulaResponse"/>
</message>
<message name="getAulas">
<part name="parameters" element="tns:getAulas"/>
</message>
<message name="getAulasResponse">
<part name="parameters" element="tns:getAulasResponse"/>
</message>
<message name="modificarAula">
<part name="parameters" element="tns:modificarAula"/>
</message>
<message name="modificarAulaResponse">
<part name="parameters" element="tns:modificarAulaResponse"/>
</message>
<portType name="ServicioAbmAula">
<operation name="addAula">
<input wsam:Action="http://Negocio/ServicioAbmAula/addAulaRequest" message="tns:addAula"/>
<output wsam:Action="http://Negocio/ServicioAbmAula/addAulaResponse" message="tns:addAulaResponse"/>
</operation>
<operation name="getAulas">
<input wsam:Action="http://Negocio/ServicioAbmAula/getAulasRequest" message="tns:getAulas"/>
<output wsam:Action="http://Negocio/ServicioAbmAula/getAulasResponse" message="tns:getAulasResponse"/>
</operation>
<operation name="modificarAula">
<input wsam:Action="http://Negocio/ServicioAbmAula/modificarAulaRequest" message="tns:modificarAula"/>
<output wsam:Action="http://Negocio/ServicioAbmAula/modificarAulaResponse" message="tns:modificarAulaResponse"/>
</operation>
</portType>
<binding name="ServicioAbmAulaPortBinding" type="tns:ServicioAbmAula">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addAula">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAulas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarAula">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioAbmAula">
<port name="ServicioAbmAulaPort" binding="tns:ServicioAbmAulaPortBinding">
<soap:address location="http://localhost:8080/ServiciosTotai/ServicioAbmAula"/>
</port>
</service>
</definitions>