xml-resources/web-service-references/ServicioAbmInscripcion/wsdl/localhost_8080/ServiciosTotai/ServicioAbmInscripcion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Negocio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Negocio/" name="ServicioAbmInscripcion">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/ServiciosTotai/ServicioAbmInscripcion?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://Negocio/" schemaLocation="http://localhost:8080/ServiciosTotai/ServicioAbmInscripcion?xsd=2"/>
</xsd:schema>
</types>
<message name="addInscripcion">
<part name="parameters" element="tns:addInscripcion"/>
</message>
<message name="addInscripcionResponse">
<part name="parameters" element="tns:addInscripcionResponse"/>
</message>
<message name="modificarInscripcion">
<part name="parameters" element="tns:modificarInscripcion"/>
</message>
<message name="modificarInscripcionResponse">
<part name="parameters" element="tns:modificarInscripcionResponse"/>
</message>
<message name="delInscripcion">
<part name="parameters" element="tns:delInscripcion"/>
</message>
<message name="delInscripcionResponse">
<part name="parameters" element="tns:delInscripcionResponse"/>
</message>
<message name="eliminarByEmpleado">
<part name="parameters" element="tns:eliminarByEmpleado"/>
</message>
<message name="eliminarByEmpleadoResponse">
<part name="parameters" element="tns:eliminarByEmpleadoResponse"/>
</message>
<message name="getInscripciones">
<part name="parameters" element="tns:getInscripciones"/>
</message>
<message name="getInscripcionesResponse">
<part name="parameters" element="tns:getInscripcionesResponse"/>
</message>
<message name="getInscripciones">
<part name="parameters" element="tns:getInscripciones"/>
</message>
<message name="getInscripcionesResponse">
<part name="parameters" element="tns:getInscripcionesResponse"/>
</message>
<message name="getNoInscritos">
<part name="parameters" element="tns:getNoInscritos"/>
</message>
<message name="getNoInscritosResponse">
<part name="parameters" element="tns:getNoInscritosResponse"/>
</message>
<portType name="ServicioAbmInscripcion">
<operation name="addInscripcion">
<input wsam:Action="http://Negocio/ServicioAbmInscripcion/addInscripcionRequest" message="tns:addInscripcion"/>
<output wsam:Action="http://Negocio/ServicioAbmInscripcion/addInscripcionResponse" message="tns:addInscripcionResponse"/>
</operation>
<operation name="modificarInscripcion">
<input wsam:Action="http://Negocio/ServicioAbmInscripcion/modificarInscripcionRequest" message="tns:modificarInscripcion"/>
<output wsam:Action="http://Negocio/ServicioAbmInscripcion/modificarInscripcionResponse" message="tns:modificarInscripcionResponse"/>
</operation>
<operation name="delInscripcion">
<input wsam:Action="http://Negocio/ServicioAbmInscripcion/delInscripcionRequest" message="tns:delInscripcion"/>
<output wsam:Action="http://Negocio/ServicioAbmInscripcion/delInscripcionResponse" message="tns:delInscripcionResponse"/>
</operation>
<operation name="eliminarByEmpleado">
<input wsam:Action="http://Negocio/ServicioAbmInscripcion/eliminarByEmpleadoRequest" message="tns:eliminarByEmpleado"/>
<output wsam:Action="http://Negocio/ServicioAbmInscripcion/eliminarByEmpleadoResponse" message="tns:eliminarByEmpleadoResponse"/>
</operation>
<operation name="getInscripciones">
<input wsam:Action="http://Negocio/ServicioAbmInscripcion/getInscripcionesRequest" message="tns:getInscripciones"/>
<output wsam:Action="http://Negocio/ServicioAbmInscripcion/getInscripcionesResponse" message="tns:getInscripcionesResponse"/>
</operation>
<operation name="getInscripciones">
<input wsam:Action="http://Negocio/ServicioAbmInscripcion/getInscripcionesRequest" message="tns:getInscripciones"/>
<output wsam:Action="http://Negocio/ServicioAbmInscripcion/getInscripcionesResponse" message="tns:getInscripcionesResponse"/>
</operation>
<operation name="getNoInscritos">
<input wsam:Action="http://Negocio/ServicioAbmInscripcion/getNoInscritosRequest" message="tns:getNoInscritos"/>
<output wsam:Action="http://Negocio/ServicioAbmInscripcion/getNoInscritosResponse" message="tns:getNoInscritosResponse"/>
</operation>
</portType>
<binding name="ServicioAbmInscripcionPortBinding" type="tns:ServicioAbmInscripcion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addInscripcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarInscripcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delInscripcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarByEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInscripciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInscripciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNoInscritos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioAbmInscripcion">
<port name="ServicioAbmInscripcionPort" binding="tns:ServicioAbmInscripcionPortBinding">
<soap:address location="http://localhost:8080/ServiciosTotai/ServicioAbmInscripcion"/>
</port>
</service>
</definitions>