xml-resources/web-service-references/ServicioAbmInscripcion/wsdl/localhost_8080/ServiciosTotai/ServicioAbmInscripcion.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://Negocio/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Negocio/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/ServiciosTotai/ServicioAbmInscripcion?xsd=1"/>

<xs:element name="addInscripcion" type="tns:addInscripcion"/>

<xs:element name="addInscripcionResponse" type="tns:addInscripcionResponse"/>

<xs:element name="delInscripcion" type="tns:delInscripcion"/>

<xs:element name="delInscripcionResponse" type="tns:delInscripcionResponse"/>

<xs:element name="eliminarByEmpleado" type="tns:eliminarByEmpleado"/>

<xs:element name="eliminarByEmpleadoResponse" type="tns:eliminarByEmpleadoResponse"/>

<xs:element name="getInscripciones" type="tns:getInscripciones"/>

<xs:element name="getInscripcionesResponse" type="tns:getInscripcionesResponse"/>

<xs:element name="getNoInscritos" type="tns:getNoInscritos"/>

<xs:element name="getNoInscritosResponse" type="tns:getNoInscritosResponse"/>

<xs:element name="modificarInscripcion" type="tns:modificarInscripcion"/>

<xs:element name="modificarInscripcionResponse" type="tns:modificarInscripcionResponse"/>

<xs:complexType name="modificarInscripcion">
<xs:sequence>
<xs:element name="idEdicion" type="xs:string" minOccurs="0"/>
<xs:element name="idAlumno" type="xs:int" minOccurs="0"/>
<xs:element name="nota" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarInscripcionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInscripciones">
<xs:sequence>
<xs:element name="arg0" type="tns:empleado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empleado">
<xs:sequence>
<xs:element name="ci" type="xs:int" minOccurs="0"/>
<xs:element name="fechaIngreso" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInscripcionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:inscripcion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inscripcion">
<xs:sequence>
<xs:element name="fechaInscripcion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="inscripcionPK" type="tns:inscripcionPK" minOccurs="0"/>
<xs:element name="nota" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inscripcionPK">
<xs:sequence>
<xs:element name="idAlumno" type="xs:int" minOccurs="0"/>
<xs:element name="idEdicion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNoInscritos">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNoInscritosResponse">
<xs:sequence>
<xs:element name="return" type="ns1:anyTypeArray" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarByEmpleado">
<xs:sequence>
<xs:element name="arg0" type="tns:empleado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarByEmpleadoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="delInscripcion">
<xs:sequence>
<xs:element name="idEdicion" type="xs:string" minOccurs="0"/>
<xs:element name="idAlumno" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="delInscripcionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addInscripcion">
<xs:sequence>
<xs:element name="idEdicion" type="xs:string" minOccurs="0"/>
<xs:element name="idAlumno" type="xs:int" minOccurs="0"/>
<xs:element name="fechaInscripcion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nota" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addInscripcionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>