xml-resources/web-service-references/ServicioAbmEdicion/wsdl/localhost_8080/ServiciosTotai/ServicioAbmEdicion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Negocio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Negocio/" name="ServicioAbmEdicion">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/ServiciosTotai/ServicioAbmEdicion?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://Negocio/" schemaLocation="http://localhost:8080/ServiciosTotai/ServicioAbmEdicion?xsd=2"/>
</xsd:schema>
</types>
<message name="getEdiciones">
<part name="parameters" element="tns:getEdiciones"/>
</message>
<message name="getEdicionesResponse">
<part name="parameters" element="tns:getEdicionesResponse"/>
</message>
<message name="addEdicion">
<part name="parameters" element="tns:addEdicion"/>
</message>
<message name="addEdicionResponse">
<part name="parameters" element="tns:addEdicionResponse"/>
</message>
<message name="modificarEdicion">
<part name="parameters" element="tns:modificarEdicion"/>
</message>
<message name="modificarEdicionResponse">
<part name="parameters" element="tns:modificarEdicionResponse"/>
</message>
<message name="delEdicion">
<part name="parameters" element="tns:delEdicion"/>
</message>
<message name="delEdicionResponse">
<part name="parameters" element="tns:delEdicionResponse"/>
</message>
<message name="getDiasClase">
<part name="parameters" element="tns:getDiasClase"/>
</message>
<message name="getDiasClaseResponse">
<part name="parameters" element="tns:getDiasClaseResponse"/>
</message>
<message name="getDocentes">
<part name="parameters" element="tns:getDocentes"/>
</message>
<message name="getDocentesResponse">
<part name="parameters" element="tns:getDocentesResponse"/>
</message>
<portType name="ServicioAbmEdicion">
<operation name="getEdiciones">
<input wsam:Action="http://Negocio/ServicioAbmEdicion/getEdicionesRequest" message="tns:getEdiciones"/>
<output wsam:Action="http://Negocio/ServicioAbmEdicion/getEdicionesResponse" message="tns:getEdicionesResponse"/>
</operation>
<operation name="addEdicion">
<input wsam:Action="http://Negocio/ServicioAbmEdicion/addEdicionRequest" message="tns:addEdicion"/>
<output wsam:Action="http://Negocio/ServicioAbmEdicion/addEdicionResponse" message="tns:addEdicionResponse"/>
</operation>
<operation name="modificarEdicion">
<input wsam:Action="http://Negocio/ServicioAbmEdicion/modificarEdicionRequest" message="tns:modificarEdicion"/>
<output wsam:Action="http://Negocio/ServicioAbmEdicion/modificarEdicionResponse" message="tns:modificarEdicionResponse"/>
</operation>
<operation name="delEdicion">
<input wsam:Action="http://Negocio/ServicioAbmEdicion/delEdicionRequest" message="tns:delEdicion"/>
<output wsam:Action="http://Negocio/ServicioAbmEdicion/delEdicionResponse" message="tns:delEdicionResponse"/>
</operation>
<operation name="getDiasClase">
<input wsam:Action="http://Negocio/ServicioAbmEdicion/getDiasClaseRequest" message="tns:getDiasClase"/>
<output wsam:Action="http://Negocio/ServicioAbmEdicion/getDiasClaseResponse" message="tns:getDiasClaseResponse"/>
</operation>
<operation name="getDocentes">
<input wsam:Action="http://Negocio/ServicioAbmEdicion/getDocentesRequest" message="tns:getDocentes"/>
<output wsam:Action="http://Negocio/ServicioAbmEdicion/getDocentesResponse" message="tns:getDocentesResponse"/>
</operation>
</portType>
<binding name="ServicioAbmEdicionPortBinding" type="tns:ServicioAbmEdicion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getEdiciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEdicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarEdicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delEdicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDiasClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDocentes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioAbmEdicion">
<port name="ServicioAbmEdicionPort" binding="tns:ServicioAbmEdicionPortBinding">
<soap:address location="http://localhost:8080/ServiciosTotai/ServicioAbmEdicion"/>
</port>
</service>
</definitions>