src/META-INF/wsdl/localhost_8080/ServiciosTotai/ServicioAbmCurso.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Negocio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Negocio/" name="ServicioAbmCurso">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/ServiciosTotai/ServicioAbmCurso?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://Negocio/" schemaLocation="http://localhost:8080/ServiciosTotai/ServicioAbmCurso?xsd=2"/>
</xsd:schema>
</types>
<message name="addCurso">
<part name="parameters" element="tns:addCurso"/>
</message>
<message name="addCursoResponse">
<part name="parameters" element="tns:addCursoResponse"/>
</message>
<message name="modificarCurso">
<part name="parameters" element="tns:modificarCurso"/>
</message>
<message name="modificarCursoResponse">
<part name="parameters" element="tns:modificarCursoResponse"/>
</message>
<message name="delCurso">
<part name="parameters" element="tns:delCurso"/>
</message>
<message name="delCursoResponse">
<part name="parameters" element="tns:delCursoResponse"/>
</message>
<message name="getCursos">
<part name="parameters" element="tns:getCursos"/>
</message>
<message name="getCursosResponse">
<part name="parameters" element="tns:getCursosResponse"/>
</message>
<message name="getRequisitos">
<part name="parameters" element="tns:getRequisitos"/>
</message>
<message name="getRequisitosResponse">
<part name="parameters" element="tns:getRequisitosResponse"/>
</message>
<message name="filtrarCursos">
<part name="parameters" element="tns:filtrarCursos"/>
</message>
<message name="filtrarCursosResponse">
<part name="parameters" element="tns:filtrarCursosResponse"/>
</message>
<message name="setRequisitos">
<part name="parameters" element="tns:setRequisitos"/>
</message>
<message name="setRequisitosResponse">
<part name="parameters" element="tns:setRequisitosResponse"/>
</message>
<portType name="ServicioAbmCurso">
<operation name="addCurso">
<input wsam:Action="http://Negocio/ServicioAbmCurso/addCursoRequest" message="tns:addCurso"/>
<output wsam:Action="http://Negocio/ServicioAbmCurso/addCursoResponse" message="tns:addCursoResponse"/>
</operation>
<operation name="modificarCurso">
<input wsam:Action="http://Negocio/ServicioAbmCurso/modificarCursoRequest" message="tns:modificarCurso"/>
<output wsam:Action="http://Negocio/ServicioAbmCurso/modificarCursoResponse" message="tns:modificarCursoResponse"/>
</operation>
<operation name="delCurso">
<input wsam:Action="http://Negocio/ServicioAbmCurso/delCursoRequest" message="tns:delCurso"/>
<output wsam:Action="http://Negocio/ServicioAbmCurso/delCursoResponse" message="tns:delCursoResponse"/>
</operation>
<operation name="getCursos">
<input wsam:Action="http://Negocio/ServicioAbmCurso/getCursosRequest" message="tns:getCursos"/>
<output wsam:Action="http://Negocio/ServicioAbmCurso/getCursosResponse" message="tns:getCursosResponse"/>
</operation>
<operation name="getRequisitos">
<input wsam:Action="http://Negocio/ServicioAbmCurso/getRequisitosRequest" message="tns:getRequisitos"/>
<output wsam:Action="http://Negocio/ServicioAbmCurso/getRequisitosResponse" message="tns:getRequisitosResponse"/>
</operation>
<operation name="filtrarCursos">
<input wsam:Action="http://Negocio/ServicioAbmCurso/filtrarCursosRequest" message="tns:filtrarCursos"/>
<output wsam:Action="http://Negocio/ServicioAbmCurso/filtrarCursosResponse" message="tns:filtrarCursosResponse"/>
</operation>
<operation name="setRequisitos">
<input wsam:Action="http://Negocio/ServicioAbmCurso/setRequisitosRequest" message="tns:setRequisitos"/>
<output wsam:Action="http://Negocio/ServicioAbmCurso/setRequisitosResponse" message="tns:setRequisitosResponse"/>
</operation>
</portType>
<binding name="ServicioAbmCursoPortBinding" type="tns:ServicioAbmCurso">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCursos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRequisitos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="filtrarCursos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setRequisitos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioAbmCurso">
<port name="ServicioAbmCursoPort" binding="tns:ServicioAbmCursoPortBinding">
<soap:address location="http://localhost:8080/ServiciosTotai/ServicioAbmCurso"/>
</port>
</service>
</definitions>