src/META-INF/wsdl/localhost_8080/ServiciosTotai/ServicioAbmEmpleado.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Negocio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Negocio/" name="ServicioAbmEmpleado">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/ServiciosTotai/ServicioAbmEmpleado?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://Negocio/" schemaLocation="http://localhost:8080/ServiciosTotai/ServicioAbmEmpleado?xsd=2"/>
</xsd:schema>
</types>
<message name="addEmpleado">
<part name="parameters" element="tns:addEmpleado"/>
</message>
<message name="addEmpleadoResponse">
<part name="parameters" element="tns:addEmpleadoResponse"/>
</message>
<message name="modificarEmpleado">
<part name="parameters" element="tns:modificarEmpleado"/>
</message>
<message name="modificarEmpleadoResponse">
<part name="parameters" element="tns:modificarEmpleadoResponse"/>
</message>
<message name="eliminarEmpleado">
<part name="parameters" element="tns:eliminarEmpleado"/>
</message>
<message name="eliminarEmpleadoResponse">
<part name="parameters" element="tns:eliminarEmpleadoResponse"/>
</message>
<message name="getEmpleados">
<part name="parameters" element="tns:getEmpleados"/>
</message>
<message name="getEmpleadosResponse">
<part name="parameters" element="tns:getEmpleadosResponse"/>
</message>
<portType name="ServicioAbmEmpleado">
<operation name="addEmpleado">
<input wsam:Action="http://Negocio/ServicioAbmEmpleado/addEmpleadoRequest" message="tns:addEmpleado"/>
<output wsam:Action="http://Negocio/ServicioAbmEmpleado/addEmpleadoResponse" message="tns:addEmpleadoResponse"/>
</operation>
<operation name="modificarEmpleado">
<input wsam:Action="http://Negocio/ServicioAbmEmpleado/modificarEmpleadoRequest" message="tns:modificarEmpleado"/>
<output wsam:Action="http://Negocio/ServicioAbmEmpleado/modificarEmpleadoResponse" message="tns:modificarEmpleadoResponse"/>
</operation>
<operation name="eliminarEmpleado">
<input wsam:Action="http://Negocio/ServicioAbmEmpleado/eliminarEmpleadoRequest" message="tns:eliminarEmpleado"/>
<output wsam:Action="http://Negocio/ServicioAbmEmpleado/eliminarEmpleadoResponse" message="tns:eliminarEmpleadoResponse"/>
</operation>
<operation name="getEmpleados">
<input wsam:Action="http://Negocio/ServicioAbmEmpleado/getEmpleadosRequest" message="tns:getEmpleados"/>
<output wsam:Action="http://Negocio/ServicioAbmEmpleado/getEmpleadosResponse" message="tns:getEmpleadosResponse"/>
</operation>
</portType>
<binding name="ServicioAbmEmpleadoPortBinding" type="tns:ServicioAbmEmpleado">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioAbmEmpleado">
<port name="ServicioAbmEmpleadoPort" binding="tns:ServicioAbmEmpleadoPortBinding">
<soap:address location="http://localhost:8080/ServiciosTotai/ServicioAbmEmpleado"/>
</port>
</service>
</definitions>